<?xml version="1.0" encoding="UTF-8" ?>

<!-- scan: 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。 scanPeriod: 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
	debug: 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <!-- 获取时间戳字符串 -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.core.filter.EvaluatorFilter"> <evaluator>
            <expression>logger.contains("Swagger")</expression> </evaluator> <OnMismatch>NEU TRAL</OnMismatch>
            <OnMatch>DENY</OnMatch> </filter> -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}-[%-5level]-[%thread]-%logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志输出到文件-滚动，多个文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/log.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/log-%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 1 days worth of history -->
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss}-[%-5level]-[%thread]-%logger{36} : %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="org.apache.ibatis" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="java.sql" level="debug">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.mangofactory.swagger" level="ERROR"/>
    <logger name="springfox.documentation.spring.web" level="ERROR"/>
    <logger name="springfox.documentation.swagger.web" level="ERROR"/>
    <logger name="springfox.documentation.schema" level="ERROR"/>
    <!--<logger name="springfox" level="ERROR"/>-->

    <!-- 日志级别 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </root>
</configuration>

